<%- include('../includes/header'); %> <div class="row">
  <div class="py-4">
    <a href="/" class="mb-3 d-inline-block"> < Go back</a>
    <h1 class="fw-bold text-tertiary">Check your items</h1>
  </div>
  <div class="col px-3">
    <div class="row">
      <div class="col-12 px-2 col-md-9 card mb-3 py-3 shadow-lg"> <% if (cart.products.length) {%>
        <% cart.products.forEach(function(product){ %> <div class="d-flex flex-row flex-wrap col-12 p-1 border"
          style="margin-bottom: -1px;">
          <div class="image-cart-item col-auto d-none d-sm-block">
            <img src="img/products/<%= product.image %>.jpeg" alt="" class="col-12">
          </div>
          <div class="col-12 col-sm-auto flex-sm-grow-1 flex-sm-shrink-1  px-3 py-2 d-flex flex-wrap align-items-center">
            <h2 class="fs-4 fw-semibold col col-sm-auto mb-0"><%= product.title%></h2>
            <div class="col-12 col-md-auto flex-md-grow-1">
              <p class="mb-0 text-end">Price per unit: $<%= product.price %> COP</p>
              <p class="text-end fs-5 mb-0 fw-bolder">Total: $<%= product.total %> COP</p>
            </div>
          </div>
          <div class="col-12 d-flex col-lg-2 align-items-center py-1">
            <button <% if(product.quantity == 1){%> disabled <%} %> onclick="handlerQuantityProduct('<%= product._id%>',false)" class="h-100 btn btn-outline-secondary col" id="cartitem-decrease-btn">-</button>
            <div class="px-2 col text-center"> <%= product.quantity %> </div>
            <button onclick="handlerQuantityProduct('<%= product._id%>',true)" class="h-100 col btn btn-outline-secondary" id="cartitem-increase-btn">+</button>
            <div class="border-left ms-2 ps-2 h-100 col" >
              <input type="hidden" name="id" value="<%= product._id%>">
              <button class="h-100 col-12 btn btn-outline-danger" onclick="removeProduct('<%= product._id%>')"> X </button>
            </div>
          </div>
        </div> <% }); %> 
        <%} else {%> 
          <div class="text-center w-100 pt-3">
            <h2>Your cart is empty.</h2> 
            <a href="/">Start adding to your cart!</a>
          </div>
        <%}%>  
        </div>
        <div class="col-12 col-sm-3">
          <div class="card p-3">
            <h2 class="fs-5 fw-bolder">Total a pagar:</h2>
            <h3 class="fw-bolder">$<%=cart.total%> COP</h3>
            <small><%= cart.products.length%> Product / <%= cart.articlesAmount%> articles</small>
            <button class="btn btn-primary mt-2" onclick="goPurchase('<%= cart.id%>')" <% if(cart.total === 0){%>disabled <%}%></button>Purchase</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<script src="/js/cart.js"></script>
<%- include('../includes/footer'); %>
