<%- include('../includes/header'); %> 
<div class="row">
  <div class="w-100 py-3">
    <a href="/" class=" col-auto"> <i class="fa fa-angle-left"></i> Go back</a>
  </div>
  <div class="col-12 col-md-8 col-lg-9 mb-3">
    <div class="card mb-3">
      <div class="product-detail-image">
        <img src="/img/products/<%= product.image %>.jpeg" alt="">
      </div>
      <div class="p-3">
        <h1 class="fs-3 fw-bolder"><%= product.title %></h1>
        <p class="mb-0"><%= product.description %></p>
        <small class="fw-bold"><%= product.category %></small>
      </div>
    </div>
    <% if(isLoggedIn){%>
    <div class="card p-3 shadow-sm mb-3">
      <div class="comment-box ">
        <label class="form-label" for="">Leave a comment:</label>
        <input id="comment-pid" type="hidden" name="productId" value="<%= product._id%>">
        <textarea id="comment-text" class="form-control mb-3" name="text" id="" cols="30" rows="10"></textarea>
        <button class="btn btn-primary btn-lg" onclick="sendComment()">Comentar</button>
      </div>
    </div>
    <%}%>
    <% comments.forEach(function(comment){ %>
      <div class="d-flex justify-content-between comment flex-wrap p-3">
        <p class="mb-0 fw-bolder"><%= comment.user %></p> <small><%= comment.date%></small>
        <p class="w-100"><%= comment.text %></p>
      </div>
    <% }); %>
    <div class="pt-5">
      <h3 class="fw-bolder mb-3">Estos productos tambien te pueden interezar</h3>  
      <div class="row">
        <% related.forEach(function(product){ %> 
          <div class="p-2 col" >
            <div class="card w-100 related-product shadow-sm">
              <a class="image" href="/admin/<%= product._id%>">
                <img src="/img/products/<%= product.image%>.jpeg" alt="">
              </a>
              <a class="text  p-2" href="/admin/<%= product._id%>">
                <p class="fw-bolder"><%= product.title %></p>
                <p class="mb-2"><%= product.description%></p>
                <p class="fw-bolder mb-0 text-end"> $<%= product.price%> COP</p>
              </a>
            </div>
          </div>
          <% }); %> 
      </div>
    </div>
  </div>
  <input type="hidden" id="product-price" value="<%=product.price %>">
  <% if(isLoggedIn){%>
  <form class="col col-md-4 col-lg-3" action="/add-to-cart" method="POST">
    <div class="w-100 card p-3">
      <div class="d-flex align-items-center mb-2">
        <button type="button" id="decrease-amount" class="btn btn-outline-secondary col">-</button>
        <div class="px-3" id="amount-printed">1</div>
        <button type="button" id="increase-amount" class="btn btn-outline-secondary col">+</button>
      </div>
      <div>
        <small> <span class="fw-bolder">Price per unit: $</span><%= product.price %>.00</small>
        <p class="fs-3">Total: $<span id="print-total"><%= product.price %> </span> COP</p>
      </div>
      <input type="hidden" name="productId" value="<%=product.id%>">  
      <input type="hidden" id="product-amount" name="quantity" value="1">  
      <input type="hidden" id="product-total" name="total" value="<%=product.price %>">  
      <div class="border-top w-100 mb-3"></div>
      <button class="btn btn-lg btn-primary w-100"> Agregar </button>
    </div>
  </form>
  <%} %>
  <script src="/js/productView.js"></script>
</div> 

<%- include('../includes/footer'); %>
